
.title {
  margin: 1.2em 0 0.6em 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 0 0 0;
  text-indent: 0;
  margin: 1.2em 0 0.6em 0;
}

h1 {
  font-size: 18pt;
  padding: 0 0 0 0;
  text-indent: 0;
  margin: 1.2em 0 0.6em 0;
  line-height: 1.4em;
  border-bottom: 2px #1a81c2 solid;
}

p.abstract {
  text-align: left;
  padding: 0 0 0 0;
  text-indent: 0;
  margin: 1.2em 0 0.0 0;
}

div.abstract {
    width: 100%;
}

h2 {
  font-size: 16pt;
}

h3, h4, h5 {
  font-size: 14pt;
}

p {
  padding: 0 0 0 0;
  text-align: justify;
}

P > img {
  padding: 0 0 0 0;
  margin: 15px auto 15px auto;
}

span.header-section-number {
  width: 35px;
}

h1.title {
    font-size: 20pt;
    color: #87b13f;
    line-height: 1.1em;
    margin-top: 25px;
    border-bottom: 0px;
}

p.author-name, h4.author {
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    color: #333333;
}

h4.date {
    font-size: 11pt;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    color: #555555;
}

th {
    background-color: #336699;
    color: white;
}

img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*border-style: solid;*/
  border-width: 2px;
}

p.caption {
    font-size: 7pt;
    display:block;
    padding-left: 15px;
    padding-right: 15px;
    margin:auto;
    width:85%;
}

table {
  margin: auto;
  border-top: 1px solid #7b8a8b;
  border-bottom: 1px solid #7b8a8b;
}
table thead th { border-bottom: 0px solid #ddd; font-size: 7pt;}
th, td { padding: 2px 10px 2px 2px;}
thead, tfoot, tr:nth-child(even) { background: #eee; }
table caption {
  margin-bottom: 0px;
}
tbody {
  font-size: 5pt;
  border-top: 0px;
}

code.r {
    border: 0.5px solid #e6e6e6;
}

code {
  padding: 0 0 0 0;
  margin: 0 0 0.5em 0;
  color: #000440;
}

pre {
  padding: 0 0 0 0;
  margin: 0 0 0.5em 0;
  color: #333333;
}

code.hljs {
   font-size: 8pt; 
}

br.small {
    content: " ";
    display: block;
    margin: 0.5em 0;
}

img {
  padding: 0px 0px 0px 0px;
}

ol, ul {
    padding: 0px 0 0px 20px;
    list-style: square;
}

.tocify {
    width: 100% !important;
}





